<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Visual BI</title>
    <!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Include Modernizr in the head, before any other Javascript -->
		<script src="js/modernizr-2.6.2.min.js"></script>
    <!-- Include Angular in the head -->
		<script src="lib/angular/angular.min.js"></script>
    <!-- jquery -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- jquery-ui -->
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <!-- angular-dragdrop -->
    <script src="/lib/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Include Angularjs UI-Bootstrap -->
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- Include angularApp.js for defining module -->
    <script src="angularApp.js" charset="utf-8"></script>
    <!-- Include ConnectionModelController.js -->
    <script src="services/addConnection.js"></script>
    <!-- Include ConnectionModelController.js -->
    <script src="services/getAvailableConnections.js"></script>
    <!-- Include ConnectionModelController.js -->
    <script src="services/saveConnection.js"></script>
    <script src="services/discover.js"></script>
    <!-- Include ConnectionModelController.js -->
    <script src="controllers/ConnectionModelController.js"></script>
    <!-- Include ConnectionModelController.js -->
    <script src="controllers/queryController.js"></script>
    <!-- Include gridRender.js -->
    <script src="directives/gridRender.js"></script>
    <!-- Include toggleList.js -->
    <script src="directives/toggleList.js"></script>
    <!-- Include saveQuery.js -->
    <script src="services/saveQuery.js"></script>

    <!-- Bootstrap CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid" id="main" ng-app="hotChocolate">
      <div class="row">
        <div class="col-xs-3" id= "left-menu">
          <div id="left-menu-wrapper" ng-controller="ConnectionModelController">
            <div class="connectionDiv">
              <div class="connectionHeading row">
                <h4 id="cubeName">Connection </h4>
                <button type="button" id="Connection" ng-click="open()"><span class="glyphicon glyphicon-edit"></span></button>
              </div>
              <script type="text/ng-template" id="serverCredentials.html">
                <div class="modal-header row">
                    <h3 class="modal-title" ng-hide="addConnection">Server Credentials</h3>
                    <h3 class="modal-title" ng-show="addConnection">New Connection</h3>
                </div> <!-- End modal-header row -->
                <div class="modal-body row">
                  <div class= "selectConnection col-xs-8" ng-hide="addConnection">
                    <label for="availableConnections" class="modalLabel"> Connection Name: </label>
                    <select name="availableConnections" ng-model="connIndex" ng-cloak>
                      <!-- <option value="{{connIndex}}">select</option> -->
                      <option ng-repeat="conn in availableConnections track by $index" value="{{$index}}">{{conn.connectionName}}</option>
                    </select>
                    <br>
                    <label for="selectedConnUrl" class="modalLabel"> Server URL: </label>
                    <input name="selectedConnUrl" type="text"  value="{{availableConnections[connIndex].serverURL}}" readonly></input>
                    <br>
                  </div> <!-- selectConnection -->
                  <div class="addNewConnection col-xs-4" ng-hide="addConnection">
                    <button type="button" class="btn btn-md btn-primary" ng-click="addNewConnection()">
                      Add New connection
                    </button>
                  </div> <!-- addNewConnection -->
                  <!-- Div body for adding new connection -->
                  <div class="connectionForm" ng-show="addConnection">
                    <label for="connName" class="modalLabel"> Connection Name: </label>
                    <input name="connName" type="text" placeholder="User Defined Connection Name" ng-model="newConn.connName"></input>
                    <br>
                    <label for="url" class="modalLabel"> Server URL: </label>
                    <input name="url" type="text" placeholder="Server URL" ng-model="newConn.url"></input>
                    <br>
                    <label for="userId" class="modalLabel"> User ID: </label>
                    <input name="userId" type="text" placeholder="Connection User ID" ng-model="newConn.userid"></input>
                    <br>
                    <label for="password" class="modalLabel"> Password: </label>
                    <input name="password" type="password" placeholder="Password" ng-model="newConn.password"></input>
                    <br>
                  </div> <!-- End of ConnectionFormBody -->
                </div> <!-- End modal-body -->
                <div class="modal-footer row">
                    <button class="btn btn-primary" type="button" ng-click="save(availableConnections[connIndex])" ng-hide="addConnection">Save</button>
                    <button class="btn btn-primary" type="button" ng-click="addConn()" ng-show="addConnection">Add Connection</button>
                    <button class="btn btn-warning" type="button" ng-click="reset()" ng-show="addConnection">Reset</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">cancel</button>
                </div> <!-- End modal-footer -->
              </script>
            <div id="head-div">
              <label for="DataSourceName" class="cubeLabel"> Data Source: </label>
              <select name="DataSourceName" ng-model="DataSourceName" ng-change="getCatalogNames(DataSourceName)" ng-cloak>
                <option value='' ng-selected="true">select</option>
                <option ng-repeat="DataSourceName in DataSourceNames" value="{{DataSourceName.unique_name}}">{{DataSourceName.caption_name}}</option>
              </select>
              <br>
              <label for="CatalogName" class="cubeLabel"> Catalog: </label>
              <select name="CatalogName" ng-model="CatalogName" ng-change="getCubeNames(DataSourceName, CatalogName)" ng-cloak>
                <option value='' ng-selected="true">select</option>
                <option ng-repeat="CatalogName in CatalogNames" value="{{CatalogName.unique_name}}">{{CatalogName.caption_name}}</option>
              </select>
              <br>
              <label for="CubeName" class="cubeLabel"> Cube: </label>
              <select name="CubeName" ng-model="CubeName" ng-change="getChildren(DataSourceName, CatalogName, CubeName)" ng-cloak>
                <option value='' ng-selected="true">select</option>
                <option ng-repeat="CubeName in CubeNames" value="{{CubeName.unique_name}}">{{CubeName.caption_name}}</option>
              </select>
              <br>
            </div> <!-- head-div end-->
          </div> <!-- End ConnectionDiv -->

            <!-- Dimentions -->
            <h4>Dimensions</h4>
            <div id='dim-div'>
              <ul class='nav nav-list-main dimensions'>
                <li ng-repeat="dimension in dimensions" ng-if="dimension.caption_name !== 'Measures'">
                  <label class='nav-toggle nav-header' ng-click="!dimension.children.length > 0 && getHierarchies($index)" toggle-list>
                    <span class='nav-toggle-icon glyphicon glyphicon-chevron-right' ng-cloak></span>
                    <a href='#' ng-cloak> {{dimension.caption_name}}</a>
                  </label>
                  <ul class='nav nav-list nav-left-ml' ng-show="dimension.children.length">
                    <li ng-repeat="hierarchy in dimension.children">
                      <label class='nav-toggle nav-header' ng-click="!hierarchy.children.length > 0 && getLevels($parent.$index, $index)" toggle-list>
                        <span class='nav-toggle-icon glyphicon glyphicon-chevron-right' ng-cloak></span>
                        <a href='#' ng-model="dimension.children" data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: 'true', placeholder: 'keep'}" ng-cloak> {{hierarchy.caption_name}}</a>
                      </label>
                      <ul class='nav nav-list nav-left-ml' ng-show="hierarchy.children.length">
                        <li ng-repeat="level in hierarchy.children">
                          <label class='nav-toggle nav-header' ng-click="!level.children.length > 0 && getMembers($parent.$parent.$index, $parent.$index, $index)" toggle-list>
                            <span class='nav-toggle-icon glyphicon glyphicon-chevron-right' ng-cloak></span>
                            <a href='#' ng-model="hierarchy.children" data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: 'true', placeholder: 'keep'}" ng-cloak> {{level.caption_name}}</a>
                          </label>
                          <ul class='nav nav-list nav-left-ml' ng-show="level.children.length">
                            <li ng-repeat="member in level.children">
                              <a href='#' ng-model="level.children" data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: 'true', placeholder: 'keep'}"  ng-cloak> {{member.caption_name}}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <h4>Measures</h4>
            <div id="measures-div">
              <ul class='nav nav-list-main measures'>
                <li ng-repeat="measure in measures">
                    <a href='#' ng-model="measures" data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', helper: 'clone'}" jqyoui-draggable="{index: {{$index}}, animate: 'true', placeholder: 'keep'}"  ng-cloak> {{measure.caption_name}}</a>
                </li>
              </ul>
            </div>
          </div> <!-- left-menu-wrapper end-->
        </div> <!-- left-menu end-->
        <div class="col-xs-8" id="content" ng-controller="queryController">
          <!-- saveQueryModal-->
          <script type="text/ng-template" id="saveQuery.html">
            <div class="modal-header row">
                <h4 class="modal-title" id="myModalLabel">Save Query</h4>
            </div> <!-- End modal-header row -->
            <div class="modal-body row">
              <p>
                <label for="queryName">Query name</label>
                <input type="text" name="queryName" id="queryName" ng-model="newQueryName">
              </p>
              <div class="alert alert-success" ng-show="showModalAlert">
                <button type="button" class="close" ng-click="showModalAlert = false">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{querySaveMessage}}</strong>
              </div>
            </div> <!-- End modal-body -->
            <div class="modal-footer row">
                <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
                <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">cancel</button>
            </div> <!-- End modal-footer -->
          </script>
          <!-- End saveQueryModal-->
          <div class="navbar navbar-fixed-top">
            <div class="btn-group" role="group">
              <!-- save query button-->
              <button type="button" class="btn btn-default navbar-btn" ng-click="open()">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
              </button>
              <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                Queries <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" id="queryList">
                <li ng-repeat="query in queryList"><a href="#" ng-click="retrieveQuery($index)">{{query.queryName}}</a></li>
              </ul>
              <button type="button" class="btn btn-default navbar-btn" id="executeButton" grid-render><span class="glyphicon glyphicon-play-circle" ></span> Execute</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-print"></span></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-download-alt"></span></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-download-alt"></span></button>
            </div>
          </div> <!-- navbar-end -->
          <div id="content-wrapper">
            <div class="row myRect" ng-repeat="item in items">
              <div class="col-xs-2"  ng-cloak>
                <h4>{{item.label}}</h4>
              </div>
              <div class="col-xs-10 columns">
                <ul class="nav" data-drop="true" ng-model="item.list" jqyoui-droppable="{multiple:true}"  ng-cloak>
                  <li ng-repeat="elem in item.list track by $index" ng-show="elem.caption_name">
                    {{elem.caption_name}}<button type='button' class='close' ng-click="deleteItem($index, $parent.$index)">&times;</button>
                  </li>
                  <li class="placeholder" ng-hide="hideMe(item.list)">Drag measures/dimensions here</li>
                </ul>
              </div> <!-- col-xs-10 end-->
            </div> <!-- myRect end-->
            <div class="row alert alert-warning" ng-show="isMdxInputError">
              <strong>{{mdxInputErrorMessage}}</strong>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="section_result">
                  <table id="dataTable">
                    <tbody id="dataTableBody">
                      <script id="axis0_insersion">
                      {{axis0}}
                      </script>
                      <script id="axis1_insersion">
                      {{axis1}}
                      </script>
                    </tbody>
                  </table>
                </div> <!-- section_result end-->
              </div> <!-- col-sm-12 end-->
            </div> <!-- row end-->
          </div> <!-- content-wrapper end-->
        </div> <!-- col-xs-8 end-->
        <div class="col-xs-1" id="right-menu">
          <div class="right-menu-wrapper">
            <div class="btn-group-vertical" role="group">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span></button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span></button>
              <button type="button" id="graph1" class="btn btn-default graph"><span class="glyphicon glyphicon-download-alt"></span></button>
            </div> <!-- btn-group end -->
          </div> <!-- menu-wrapper-end -->
        </div> <!-- right-menu end -->
      </div> <!-- row end-->
    </div> <!--container main end -->

    <!-- app.js-->
    <!-- <script type="text/javascript" src="/app.js"></script> -->

    <!-- D3 JS -->
    <script src="js/d3.js"></script>

    <!-- Render BarChart -->
    <script src="js/renderBarChart2.js"></script>

    <!-- Custom JS -->
    <!-- <script src='js/myscript2.js'></script> -->

  </body>
</html>
