<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Include Modernizr in the head, before any other Javascript -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Adding customized Css login.css -->
    <link rel="stylesheet" href="stylesheets/login.css">
    <!-- Include Angular in the head -->
    <script src="lib/angular/angular.min.js"></script>
    <!-- Include Angular-Cookies in the head -->
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
    <!-- Include Angular-Validation-Match in the head -->
    <script src="lib/angular-validation-match/src/angular-validation-match.js"></script>
    <!-- Include angular module in the head -->
    <script src="angularApp.js"></script>
    <!-- Include Angular service in the head -->
    <script src="services/login.js"></script>
    <!-- Include Angular-Cookies in the head -->
    <script src="controllers/loginCtrl.js"></script>
  </head>
  <body ng-app = "login" ng-controller="loginCtrl">
    <center>
      <h1>Visual BI</h1>
      <h3 ng-hide="isRegSelected">Login</h3>
      <h3 ng-show="isRegSelected">Register</h3>
      <form id="loginForm" method="post" ng-submit="putCookie()" class="col-sm-offset-2 col-sm-8 form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-hide="isRegSelected">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty &amp;&amp; form.username.$error.required }">
            <label for="username" class="col-sm-4">User Name : </label>
            <div class="col-sm-8">
              <input type="text" name="username" ng-model="userName" placeholder="Enter Username" class="form-control ng-pristine ng-invalid ng-invalid-required" required="">
            </div>
            <span ng-show="form.username.$dirty &amp;&amp; form.username.$error.required" class="help-block ng-hide">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }">
            <label for="password" class="col-sm-4">Password : </label>
            <div class="col-sm-8">
              <input type="password" name="password" ng-model="password" placeholder="Enter Password" class="form-control ng-pristine ng-invalid ng-invalid-required" required="">
            </div>
            <span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block ng-hide">Password is required</span>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" value="Submit">Login</button>
            &nbsp;
          <button type="reset" value="Reset">Reset</button>
            &nbsp;
          <button type="button" ng-click="showRegisterForm()">Register</button>
        </div>
        <div class="col-sm-12 displayMsg">{{loginMsg}}</div>
      </form>
      <form id="registerForm" method="post" action="/register" class="col-sm-offset-2 col-sm-8 form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-show="isRegSelected">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty &amp;&amp; form.username.$error.required }">
            <label for="username" class="col-sm-4">User Name : </label>
            <div class="col-sm-8">
              <input type="text" name="username" ng-model="userName" placeholder="Enter Username" class="form-control ng-pristine ng-invalid ng-invalid-required" required="">
            </div>
            <span ng-show="form.username.$dirty &amp;&amp; form.username.$error.required" class="help-block ng-hide">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }">
            <label for="password" class="col-sm-4">Password : </label>
            <div class="col-sm-8">
              <input type="password" name="password" ng-model="password" placeholder="Enter Password" class="form-control ng-pristine ng-invalid ng-invalid-required {'ng-invalid':myForm.confirmPassword.$error.match}" required="">
            </div>
            <span ng-show="form.password.$dirty &amp;&amp; form.password.$error.required" class="help-block ng-hide">Password is required</span>
        </div>
        <!-- <div class="form-group" ng-class="{ 'has-error': form.password.$dirty &amp;&amp; form.password.$error.required }">
            <label for="confirmPassword" class="col-sm-2">Confirm Password : </label>
            <div class="col-sm-6">
              <input type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Re-enter Password" match="password" class="form-control ng-pristine ng-invalid ng-invalid-required" required="">
            </div>
            <span ng-show="form.confirmPassword.$dirty &amp;&amp; form.confirmPassword.$error.required" class="help-block ng-hide">Confirm Password is required</span>
            <div ng-show="myForm.myConfirmField.$error.match">Password and Confirm Password do not match!</div>
        </div> -->
        <div class="col-sm-offset-3 col-sm-6">
          <button type="submit" value="Submit">Sign Up</button>
            &nbsp;
          <button type="reset" value="Reset">Reset</button>
            &nbsp;
          <button type="button" ng-click="showRegisterForm()">Login</button>
        </div>
        <div><b><%= registerMsg %></b><div>
      </form>
      <!-- <b ng-show="userNameExist">User Name already Exists !!!</b> -->
    </center>
  </body>
</html>
