<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Register</title>
    </head>
    <body>
      <form id="registerForm" action="/register" method="post">
        <input type="text" name="username" placeholder="Enter Username"><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="submit" value="submit">
        &nbsp;
        <a href="/register"><input type="button" value="cancel"></a><br>
      </form>
    </body>
  </html>
