html, body {
  width: 100%;
  height: 100%;
}
form.col-sm-8 {
  font-size: 20px;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 8px;
  background-color: lightblue;
}
body h1 {
  color:red;
}
form input{
  font-size: 18px;
}
td {
  padding: 2px;
}
.buttonCol{
  text-align: center;
}
input.ng-invalid{
    border-color: red;
}
.displayMsg {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
/* media queries */
@media(max-width: 767px){
  body{
    background: url('../images/bi_sm.png') no-repeat center center fixed;
    /*background-size: cover;*/
    background-size: 100% 100%;
  }
}
@media(min-width: 768px){
  body{
    background: url('../images/bi_md.png') no-repeat center center fixed;
    /*background-size: cover;*/
    background-size: 100% 100%;
  }
}
@media(min-width: 992px){
  body{
    background: url('../images/bi_lg.png') no-repeat center center fixed;
    /*background-size: cover;*/
    background-size: 100% 100%;
  }
}
@media(min-width: 1200px){
  body{
    background: url('../images/bi.jpg') no-repeat center center fixed;
    /*background-size: cover;*/
    background-size: 100% 100%;
  }
}
