form {
  font-size: 20px;
  margin-top: 20px;
}
form input{
  font-size: 18px;
}
td {
  padding: 2px;
}
.buttonCol{
  text-align: center;
}
body{
  background-color: lightgrey;
}
input.ng-invalid{
    border-color: red;
}
.displayMsg {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
