html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 600px;
  padding: 15px;
  overflow-y: hidden;
}

#main {
  padding: 0;
  height: 100%;
}

#main>.row {
  height: 100%;
  margin-right: 0;
}

#main>.row>.col-xs-3 {
  width: 23%;
}

#main>.row>.col-xs-9 {
  width: 77%;
}

.col-xs-3 , .col-xs-9{
  height: 100%;
}

.nav-list {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}

.nav-list-main {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0;
}

span.nav-toggle-icon{
  margin-right: 5px;
  font-size: 10px;
  top: -1px;
  color: #888;
}

#left-menu {
  padding-right: 5px;
}

.nav>li>a {
  padding: 5px 15px;
}

#left-menu-wrapper {
  height: 100%;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
}

#left-menu-wrapper h4 {
  margin: 0;
  padding: 5px;
  height: 5%;
  background-color: lightgrey;
}

#head-div {
  height: 15%;
  overflow-y: auto;
  margin: 15px;
}

#dim-div, #measures-div {
  height: 35%;
  overflow-y: auto;
}
.dimensions,.measures{
  padding-top: 5px;
}

.dimensions , .measures{
  margin-left: 10px;
}

.navbar {
  background-color: lightgrey;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar .btn {
  font-size: 16px;
}
#content {
  height: 100%;
  padding: 0;
  padding-top: 55px;
  position: relative;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
}

#content-wrapper {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 5px 15px 15px;
}

.myRect {
  margin: 0 0 5px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.myRect .col-xs-2{
  background-color: #e3e3e3;
  text-align: center;
}

.myRect .col-xs-10 {
  padding-top: 6px;
}

.columns ul {
  min-height: 30px;
}
.columns ul li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 5px;
  background-color: green;
  padding: 3px;
  color: white;
  border-radius: 3px;
}

li.placeholder {
  background-color: #fff !important;
  color: #808080 !important;
  font-style: italic;
}

.section_result {
  margin-top: 30px;
}

/*#dataTable {
  width: 100%;
}*/
table{
  margin: auto;
}
table,  th,  td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

 th, td{
  padding: 10px;
}

#right-menu {
  overflow-y: auto;
}

.right-menu-wrapper{
  padding-left: 4px;
}

button.close {
  margin-left: 5px;
  color: white;
  opacity: 0.5;
  font-weight: 500;
}

.close:focus, .close:hover {
  opacity: 0.9;
  color: white;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

#url {
  text-align: center;
  width:60%;
}

#myModal label {
  width: 30%;
}


.closeButton{
  color: red;
}

/**********************************Graph styles **********************************/
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

rect {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
rect:hover{
  fill: orange;
}
rect {
  fill : steelblue;
}
.xline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.xarea {
  fill: steelblue;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tooltip {
        background: #eee;
        box-shadow: 0 0 5px #999999;
        color: #333;
        display: none;
        font-size: 12px;
        left: 130px;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 95px;
        width: 80px;
        z-index: 10;
      }
      .legend {
        font-size: 9px;
      }
      rect {
        cursor: pointer;                                              /* NEW */
        stroke-width: 2;
      }
      rect.disabled {                                                 /* NEW */
        fill: transparent !important;
      }

      .modal-content input[type="checkbox"]{
        width:40px;
        padding-right: 15px;
      }
      #barGraphLabel {
        width : 80px;

      } 

      .slice text {
            font-size: 16pt;
            font-family: Arial;
        }

        .label-text {
    alignment-baseline: middle;
    font-size: 9px;
    font-family: arial,helvetica,"sans-serif";
    fill: #393939;
}
.label-line {
    stroke-width: 1;
    stroke: #393939;
}
.label-circle {
    fill: #393939;
}
                                                             

      }


/*********** Angularizing Modal *******************/
.selectConnection ,.selectWidget{
  border-right: 1px solid lightgrey;
}
.modal-content input{
  width:210px;
}
.selectConnection select{
  min-width: 100px;
}
.selectConnection, .addNewConnection{
  padding: 30px 15px;
}
.addNewConnection button{
  height: 55px;
  width: 170px;
  font-size: 16px;
  font-weight: 500;
}
.connectionDiv .row, .modal-content .row{
  margin: auto 0px;
}
.connectionHeading {
  background: lightgrey;
}
.connectionHeading h4{
  float: left;
}
.connectionHeading button{
  float: right;
}
.modal-content label{
  width: 130px;
  text-align: left;
}
.connectionForm {
  text-align: center;
}
.cubeLabel{
  width:45%;
}
#head-div select{
  min-width: 40%;
  max-width: 45%;
}
#widgetList{
  list-style-type: none;
}
/*.contentSpace{
  padding-bottom: 10px;
}*/
.selectWidget, .addWidget{
  height: 220px;
}
/*************************Avoiding templates from loading****************************/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*************************Export Widgets***************************/

.widgetList{
  height: 100px;
  overflow-y: auto;
}

.modal-content input[type="radio"]{
  width:50px;
}
.modal-content textarea{
  width: 100%;
}
